@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fugaz+One&family=Poppins:ital@0;1&family=Righteous&display=swap');

body {
  background-color: #000000;
  font-family: 'Poppins',sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Fugaz One', cursive;
}

#header {
  background-color: #000000;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(206,89,55,0);
}

.column {
  float: left;
  width: 24%;
  padding: 7px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 800px;
  display: flex;
  align-items: center;
}

.container img {
  width: 50px;
  margin-right: 50px;
}

.underlined {
  text-decoration: underline;
  color: #000000;
}

.pinkhighlight {
  background-color: #f96995;
  color: #000000;
}
